<head>
    <style>
        .container1{
            height: 70%;
            width: 60%;
            margin: 5% 0% 0% 10%;
            background-color: rgb(118, 32, 199);
            color: burlywood
        }

        .title {
            margin-bottom: 50px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Climb Support Ticket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    {% with messages = get_flashed_messages() %}
    <!-- declare a variable called messages -->
    {% if messages %}
    <!-- check if there are any messages -->
    {% for message in messages %}
    <!-- loop through the messages -->
    <p class="text-danger">{{message}}</p>
    <!-- display each message in a paragraph tag -->
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/tickets/{{ticket.id}}/edit" , method="post">
        <div class="whole-body">
            <a class="btn btn-danger float-end mt-2" href="/logout">Logout</a>
            <a class="btn btn-warning float-end mt-2" href="/dashboard">Dashboard</a>
            <a class="btn btn-warning float-end mt-2" href="/tickets/new">Add ticket</a>
            <div class="container1">
                <h1 class="title">Edit a ticket</h1>
                <input type="hidden" value="{{ticket.id}}" name="ticket_id">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Problem</label>
                    <input value="{{ticket.problem}}" name="problem" type="text" class="form-control" id="problem">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <input value="{{ticket.description}}"  name="description" class="form-control" id="description" rows="3"></input>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Please choose priority level:</label>
                    <!-- <input name="urgency" type="text" class="form-control" id="urgency" rows="3"></input> -->
                    <select name="urgency" value="{{ticket.urgency}}" >
                        <option>High Priority</option>
                        <option>Medium Priority</option>
                        <option>Low Priority</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">How does your screen look?</label>
                    <input name="screen_q" value="{{ticket.screen_q}}" type="text" class="form-control" id="screen_q" rows="3"></input>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">What were you trying to do?</label>
                    <input value="{{ticket.expectations}}" name="expectations" type="text" class="form-control" id="expectations" rows="3"></input>
                </div>
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </form>
</body>

</html>