<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .container{
            background-color: blueviolet;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <body>
            <div class="container">
                <h1>Welcome to Climb Support!</h1>
                <div class="row">
                    {% with messages = get_flashed_messages() %}
                    <!-- declare a variable called messages -->
                        {% if messages %}
                    <!-- check if there are any messages -->
                        {% for message in messages %}   
                    <!-- loop through the messages -->
                        <p class="text-danger">{{message}}</p>  
                    <!-- display each message in a paragraph tag -->
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="col">
                        <h3>Register Here!</h3>
                        <form action="/register" method="POST">
                            <div class="mb-3">
                                <label for="first_name" class="form-label">First name</label>
                                <input type="text" class="form-control" name="first_name" id="first_name">
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Last name</label>
                                <input type="text" class="form-control" name="last_name" id="last_name">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                            <div class="mb-3">
                                <label for="pass_conf" class="form-label">Password Confirmation</label>
                                <input type="password" class="form-control" name="pass_conf" id="pass_conf">
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div> <!-- end of register form  -->
                    <div class="col">
                        <h3>Login here!</h3>
                        <form action="/login" method="POST">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div> <!-- end of login form  -->
                </div><!-- end of row -->
            </div> <!-- end of container -->
        </body>
        </html>


    </div>
</body>
</html>